<%inherit file="base.html"/>

<%def name="add_form(target)">
  <div class="card">
    <div class="card-header">${target.capitalize() | h}</div>
    <div class="card-body">

      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label class="card-text col-form-label"><b>Type</b></label>
        </div>
        <div class="col-auto">
        <%
        invalid = validate and 'select' in errors[target]
        valid_class = 'is-invalid' if invalid else ''
        %>
          <select class="form-select ${valid_class}" id="select-${target}" name="select-${target}" aria-label="Select ${target} provider">
            <option value='' ${'selected' if not validate else ''}>Choose type...</option>
          % for provider in available_settings[target]:
            <%
              selected = 'selected' if form and form[f'select-{target}'] == provider else ''
            %>
            <option value="${provider | h}" ${selected}>${provider | h}</option>
          % endfor
          </select>
        % if invalid:
          <div class="invalid-feedback">
            ${errors[target]['select']}
          </div>
        % endif
        </div>
      </div>
      <br/>

  % for provider, settings in available_settings[target].items():
    <div id="${target}-${provider.replace(' ', '-') | h}" class="select-${target | h}" style="display: none">
    % for name in settings:
      <%
        id = '-'.join((target, provider, name))
      %>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label class="card-text col-form-label" for="${id}" ><b>${name | h}</b></label>
        </div>
        <div class="col-auto">
        % if validate:
          % if name in errors[target]:
            <input id="${id}" name="${id}" class="form-control is-invalid" value="${form[id] | h}">
            <div class="invalid-feedback">
              ${errors[target][name] | h}
            </div>
          % else:
            <input id="${id}" name="${id}" class="form-control is-valid" value="${form[id] | h}">
          % endif
        % else:
          <input id="${id}" name="${id}" class="form-control">
        % endif
        </div>
      </div>
      <br/>
    % endfor
    </div>
  % endfor
    </div>
  </div>
</%def>

<form method="POST">
  <div class="col-12">
    <div class="row g-3 align-items-center">
      <div class="col-2">
        <label class="card-text col-form-label"><b>Connection Name</b></label>
      </div>
      <div class="col-10">
      % if validate and 'connection-name' in errors:
        <input id="connection-name" name="connection-name" class="form-control is-invalid" value="${form['connection-name'] | h}">
        <div class="invalid-feedback">
          ${errors['connection-name'] | h}
        </div>
      % else:
        <%
          connection_name = ''
          if form and 'connection_name' in form:
            connection_name = form['connection-name']
        %>
        <input id="connection-name" name="connection-name" class="form-control" value="${connection_name | h}">
      % endif
      </div>
    </div>
  </div>
  <br/>
  <div class="row align-items-center">
    <div class="col-sm">
      ${add_form('input')}
    </div>
    <div class="col-auto">
      <i class="fas fa-arrow-right"></i>
    </div>
    <div class="col-sm">
      ${add_form('output')}
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary float-right">Add</button>
    </div>
  </div>
</form>

<br/>

<div class="row">
  <h1>Connections</h1>
</div>
<br/>

<div class="row">
% if not connections:
  <div class="col">
    <div class="alert alert-info" role="alert">
      No active connections!
    </div>
  </div>
% endif
% for id, connection in enumerate(connections):
  <div class="col-sm-4 mb-3">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            ${connection.name | h}
          </div>
          <div class="col-xs">
            <a type="button" class="btn btn-danger mt-0 mb-0 ml-1 pt-1 pb-1 pl-2 pr-2 float-right" href="delete/${id}">
              <i class="fas fa-times text-right"></i>
            </a>
            <a type="button" class="btn btn-secondary mt-0 mb-0 ml-1 pt-1 pb-1 pl-2 pr-2 float-right" href="edit/${id}">
              <i class="fas fa-edit text-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Input</h5>
        <p class="card-text"><b>Type:</b> ${connection.input.TYPE_NAME | h}</p>
      % for name, value in connection.input.settings.items():
        <!-- XXX: if the data is too long (XML for eg), put it in a modal and add replace the text with a button to open -->
        <p class="card-text"><b>${name | h}:</b> ${value | h}</p>
      % endfor
        <h5 class="card-title">Output</h5>
      <p class="card-text"><b>Type:</b> ${connection.output.TYPE_NAME | h}</p>
      % for name, value in connection.output.settings.items():
      % if '@HOST@' in value:
      <%
        url = f'http://{request.url.hostname}'
        if request.url.port != 80:
          url += f':{request.url.port}'
        value = value.replace('@HOST@', url)
      %>
        <p class="card-text"><b>${name | h}:</b> <a href="${value}">${value | h}</a></p>
      % else:
        <p class="card-text"><b>${name | h}:</b> ${value | h}</p>
      % endif
      % endfor
      </div>
    </div>
  </div>
% endfor
</div>


<%block name="js">
setVisible = function(target) {
  elements = document.querySelectorAll('div.select-' + target);
  for (i = 0; i < elements.length; i++) {
    element = elements[i];
    target_element = document.getElementById('select-' + target);
    if (element.matches('div#' + target + '-' + target_element.value.replaceAll(' ', '-'))) {
      element.style.display = '';
    } else {
      element.style.display = 'none';
    }
  }
}

setVisible('input');
setVisible('output');

document.getElementById('select-input').addEventListener('input', e => setVisible('input'));
document.getElementById('select-output').addEventListener('input', e => setVisible('output'));
</%block>
